@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    margin: 0px;
}

ul,
p {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;

}

clear {
    clear: both;
}

button:focus {
    outline: none;
}

:focus {
    outline: none;
}
/*select {
    -moz-appearance: none;
    background-color: transparent;
    background-image: url(../images/mp-select.png) !important;
    -webkit-appearance: none;
    background-position: 100% center !important;
    background-repeat: no-repeat !important;
}*/
.dropdown-toggle::after {
    display: none;
}
nav.navbar.navbar-expand-lg {
    height: 72px;
}
a.nav-link {
    font-size: 16px;
    color: #151a1c !important;
    font-family: "Barlow";
    font-weight: 500;
    text-align: left;
}
.finds {
    padding-left: 30px;
}
.login{
    border:none;
    font-size: 16px;
color: #131f25;
font-family: "Barlow";
font-weight: 500;
text-align: left;

}
.sign-up{
    font-size: 16px;
color: #131f25;
font-family: "Barlow";
font-weight: 500;
text-align: left;
border:1px solid #000;
}

.btn.sign-up {
    margin-left: 19px;
    /* padding-left: 21px; */
}
.banner{
    background-image: url('../images/homebg.jpg');
    background-size: cover;
   height: 600px;

    width: 100%;
  
    background-repeat-x: no-repeat;
    background-color: #000;
}
.banner-heading {
   /* border: 1px solid #fff;*/
    display: flex;
    justify-content: center;
    position: absolute;
    top: 360px;
    left: 280px;
 
}
ul.services li{
    display: inline-block;
    font-size: 43px;
    padding: 5px;
color: #ffffff;
font-family: "Barlow";
font-weight: 900;
text-align: left;
filter: drop-shadow(0px 2px 17px rgba(0,0,0,0.64));
}
/*.services li::before {
    content: '';
    position: absolute;
    top: 30px;
    background: #fff;
    width: 15px;
    height: 15px;
    left: 257px;
    border-radius: 100%;
}*/
li.circle:before {
   content: '';
    position: absolute;
    top: 32px;
    background: #fff;
    width: 8px;
    height: 8px;
    left: -11px;
    border-radius: 100%
}
li.circle:after {
    content: '';
    position: absolute;
    top: 32px;
    background: #fff;
    width: 8px;
    height: 8px;
    left: 331px;
    border-radius: 100%;
}

.banner-text{
   /* border:1px solid #fff;*/
    display: flex;
    justify-content: center;
    position: absolute;
 top: 427px;
    left: 331px;
}
.banner-text p{

font-size: 21px;
letter-spacing: 1px;
color: #ffffff;
font-family: "Barlow";
font-weight: 400;
text-align: center;
}
.search-form {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, -8%);
    width: 52%;
    z-index: 9;

}
.search-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form input:focus {
    transform: translateX(0px) !important;
    border-radius: 0px !important;
}
.search-form  .form-group{
    position: relative;
    cursor: pointer;
}

/*15.7.2020*/
ul#finalResult {
    position: absolute;
    top: 65px;
    background: #fff;
    left: 0px;
    width: 400px;
    text-indent: 10px;
     max-height: 260px;
    overflow-x: hidden;
    overflow-y: scroll;

}

ul#finalResults {
      position: absolute;
    top: 65px;
    background: #fff;
    left: 0px;
    width: 220px;
    text-indent: 10px;
    max-height: 260px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.search-form .form-group li {
    font-size: 15px;
    line-height: 32px;
    background: #f9f9f9;
    margin-bottom: 5px;
}
.search-form .first {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 400px;
    height: 57px;
    border-radius: 4px 0px 0px 4px !important;
    border: 0px;
    text-indent: 5px;
    cursor: pointer;

}
.search-form .second{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 220px;
    height: 57px;
    border: 0px !important;
     text-indent: 5px;
     cursor: pointer;
}
.search-form button {
    float: right;
    width: 66px;
    height: 57px;
    padding: 5px;
    background: #2196F3;
    color: white;
    margin-top: 8px;
    margin-left: 0px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
input::placeholder{
    font-size: 18px;
color: #0a0b0c;
font-family: "Barlow";

text-align: left;
}
button.btn.view-all:hover {
    color: #0a8aff;
}
.citybg{
     background: url('../images/citybg.jpg');
     background-size: cover;
   height: 372px;
    width: 100%;
   margin-top: 0px;
    background-position: center top;
}
.categoery-one h3{
font-size: 30px;
color: #000;
font-family: "Barlow";
font-weight: 700;
text-align: left;
text-transform: uppercase;
}
.categoery-one h3 span{
font-size: 30px;
color:#0a8aff;
font-family: "Barlow";
font-weight: 700;
text-align: left;
text-transform: uppercase;
}
.categoery-one {
    padding-top: 23px;
}


.categoery-one li a{
font-size: 14px;
color: #18262c;
font-family: "Barlow";
font-weight: 500;
text-align: left;
}
.categoery-two {
    padding-top: 23px;
}

.categoery-two h3{
font-size: 30px;
color: #000;
font-family: "Barlow";
font-weight: 700;
text-align: left;
text-transform: uppercase;
}
.categoery-two h3 span{
font-size: 30px;
color:#0a8aff;
font-family: "Barlow";
font-weight: 700;
text-align: left;
text-transform: uppercase;
}
.categoery-two li a{
font-size: 14px;
color: #18262c;
font-family: "Barlow";
font-weight: 500;
text-align: left;
}
 
 .view-more {
    padding-top: 30px;
}
.view-all{
 width: 284px;
height: 64px;
border-radius: 4px;
background-color: #192738;

font-size: 22px;
color: #feffff;

}
.first-box {
    padding-top: 90px;
}
.middle-text {
    padding-top: 200px;
}
.middle-text h3{
    font-size: 44px;
color: #464444;
font-family: "Barlow";
font-weight: 700;
text-align: center;

}
.middle-text h3 span{
    font-size: 44px;
color: #0a8aff;
font-family: "Barlow";
font-weight: 700;
text-align: center;

}


.middle-text p{

    font-size: 16px;
    line-height: 24px;
    color: #161819;
    font-family: "Barlow";
    font-weight: 400;
    text-align: center;
}
.start-all{
    width: 180px;
height: 64px;
border-radius: 4px;
background-color:#0a8aff;

font-size: 22px;
color: #feffff;

margin-top: 32px;

}
.third-box {
    padding-top: 131px;
    /* padding: 67px; */
}
footer{
    background:#111d26;
    color: #fff;
}


.foot-one {
    padding-bottom: 30px;
}
.foot-two {
    padding-bottom: 30px;
}
.foot-three {
    padding-bottom: 30px;
}
.foot-four {
    padding-bottom: 30px;
}
.foot-one   h5{
    font-size: 20px;
line-height: 30px;
color: #dadada;
font-family: "Barlow";
font-weight: 500;
text-transform: uppercase;
}
.foot-one a{
   font-size: 14px;
line-height: 30px;
color: #dadada;
opacity: 0.8;
font-family: "Barlow";
}
.foot-two   h5{
    font-size: 20px;
line-height: 30px;
color: #dadada;
font-family: "Barlow";
font-weight: 500;
text-transform: uppercase;
}
.foot-three   h5{
    font-size: 20px;
line-height: 30px;
color: #dadada;
font-family: "Barlow";
font-weight: 500;
text-transform: uppercase;
}
.foot-four   h5{
    font-size: 20px;
line-height: 30px;
color: #dadada;
font-family: "Barlow";
font-weight: 500;
text-transform: uppercase;
}
.foot-two a{
   font-size: 14px;
line-height: 30px;
color: #dadada;
opacity: 0.8;
font-family: "Barlow";
}
.foot-three a{
   font-size: 14px;
line-height: 30px;
color: #dadada;
opacity: 0.8;
font-family: "Barlow";
}
.foot-four a{
   font-size: 14px;
line-height: 30px;
color: #dadada;
opacity: 0.8;
font-family: "Barlow";
}
.foot-four a {
    padding: 8px;
    opacity: 0.8;
}

.footer-copyright.text-center.py-3 {
    background: #182638;
    font-size: 13px;
    color: #ffffff;
    font-family: "Barlow";
    font-weight: 400;
}
/***********************listing page************************/
/***********************listing page************************/
.listing-bg{
    background: #eff0f0;
}
.top-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    }
.list-heading h3{
font-size: 30px;
color: #24363e;
font-family: "Barlow";
font-weight: 600;
text-align: left;
}
.third{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 2px;
    width: 220px;
    height: 33px;
    margin-left: -2px;
}
.list-search button {
    width: 66px;
    display: inline-block;
    height: 34px;
    background-color: #0a8aff;
    float: none;
    padding: 5px;
    margin-left: -3px;
    cursor: pointer;
}
#city{
    width: 257px;
    height: 38px;
    border-radius: 3px;
    background-color: #0000;
    border: 1px solid #0a8aff;
    margin-top: 4px;
    margin-left: -2px;
}
.list-nav {
    background: #1a2b3a;
    width: 100%;
}
.list-nav  li {
    display: inline-block;
  padding: 13px 0px;
}
.list-nav a{
    font-size: 18px;
 padding: 15px 24px 16px 15px;
color: #ffffff;
font-family: "Barlow";
font-weight: 500;
text-align: left;
}
.list-nav a:hover{
   background: #0a8aff;
    color: #fff;
 /*   padding: 19px;*/
    width: 100px;
    text-decoration: none;
}
.ad-box {
    margin-top: 12px;
}
.sponsor-ad{
    width: 228px;
    height: 36px;
    background-color: #0a8aff;
    color: #fff;
    border-radius: 0;
    margin-top: 5px;
}
.suggestion {
    background: #fff;
    width: 228px;
    margin-top: 6px;
    margin-bottom: 10px;
}
.contact-info {
   padding: 5px 10px;
   border-bottom: 1px solid #49505724;
}
.contact-info h4{
    font-size: 14px;
color: #1e2f42;
font-family: "Barlow";
font-weight: 700;
line-height: 22px;
}
.contact-info h5{
    font-size: 13px;
color: #1e2f42;
font-family: "Barlow";
font-weight: 500;
}
.contact-info h6{
    font-size: 12px;
color: #1e2f42;
font-family: "Barlow";
font-weight: 400;
}
.contact-info p {
    font-size: 16px;
    color: #0a8aff;
    font-family: "Barlow";
    font-weight: 700;
}
.contact-info li {
    display: inline-block;
  
}
.contact-info a{
font-size: 13px;
color: #131c27;
font-family: "Barlow";
font-weight: 700;
padding: 4px 8px;
opacity: 0.8;
 
}

.buy-box {
    background: #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 15px;
}
.avtar {
    padding: 15px 10px;
}
.button-box {
    margin-top: 25px;
}
.details {
    
    /*border: 1px solid #000;*/
  padding: 5px 11px 18px 8px;
   /* margin-left: 47px;*/
   
}
.details h3{
    font-size: 21px;
letter-spacing: 2px;
color: #1a2734;
font-family: "Barlow";
font-weight: 900;
}
.details a{
width: 300px;
height: 17px;
font-size: 14px;
color: #0a8aff;
font-family: "Barlow";
font-weight: 700;
}
.details p{


font-size: 14px;
color: #1a2734;
font-family: "Barlow";
font-weight: 400;
}


.details li{
display:inline-block;
font-size: 12px;

color: #0c1319;
font-family: "Barlow";
font-weight: 700;
padding: 17px 7px 0px 0px;
opacity: 0.8;
}
button.btn.visit{

    height: 49px;
    border-radius: 5px;
    font-size: 16px;
    color: #212529;
    border: 1px solid #000;

}

button.btn.visit:hover{
    background-color: #0a8aff;
    color: #fff;

}
.foot-nav{
    background: #1a2b3a;
    color: #fff;
   padding: 12px;
    margin-bottom: 50px;
}
.foot-nav p{
font-size: 14px;
color: #ffffff;
font-family: "Barlow";
font-weight: 400;
}
.foot-nav-right {
    display: flex;
    justify-content: flex-end;
    margin-top: -24px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: #fff;
  float: left;
  border: 1px solid #fff;
 padding: 3px 9px;
  text-decoration: none;
  margin-right: 6px;
}

.pagination a.current {
  background-color: #fff;
  color: #1a2b3a;
}



input.sub {
    float: right;
    width: 66px;
    height: 57px;
    padding: 5px;
    background: #2196F3;
    color: white;
    margin-top: 8px;
    margin-left: 0px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    /* background: aquamarine; */
}


/*****************listing-details**********************************/
.buy-box-two {
    background: #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 0px;
    padding: 15px;
}
.listing-left {
    margin-left: 50px;
    padding: 14px 9px 0px 9px;
    width: 130px;
    /* border: 1px solid #000; */
    /* padding-left: 60px; */
}
.listing-left h4{
font-size: 14px;
line-height: 18px;
 color: #1e2f42;
font-weight: 700;
font-family: "Barlow"
}
.listing-left h5{
font-size: 13px;
line-height: 25px;
color: #131c27;
font-weight: 400;
font-family: "Barlow";
}
.details-two h3{
    font-size: 21px;
/*letter-spacing: 2px;*/
color: #1a2734;
font-weight: 700;
font-family: "Barlow";
}
i.fas.fa-star.checked {
    font-size: 10px;
}
i.fas.fa-star {
    font-size: 10px;
}
.checked {
  color: #ffbd0a;
}
ul.customer-review li {
    display: inline-block;
    font-size: 14px;
    color: #0a8aff;
    font-weight: 700;
    font-family: "Barlow";
}
.details-two {
    /* margin-top: 18px; */
    padding-top: 20px;
}
.details-two p{
font-size: 15px;
color: #1a2734;
font-weight: 400;
font-family: "Barlow";
}
.details-two p:nth-child(2){
font-size: 15px;
color: #1a2734;
font-weight: 400;
font-family: "Barlow";
line-height: 20px;

}
.details-two p:nth-child(3){
    font-size: 12px;
color: #0c1319;
font-weight: 700;
font-family: "Barlow";
padding-top: 5px;
}
.details-two p:nth-child(4){
   font-size: 16px;
color: #0c1319;
font-weight: 400;
font-family: "Barlow";
padding-top: 5px;
}
.photo-add {
    margin-top: 20px;
    border-top: 1px solid #e5e6e7;
    border-bottom: 1px solid #e5e6e7;
    padding: 14px 9px 14px 6px;
}
.photo-text h3 {
    font-size: 21px;
    color: #1a2734;
    font-weight: 600;
    font-family: "Barlow";
}
.photo-text p {
font-size: 15px;
color: #1a2734;
font-weight: 400;
font-family: "Barlow";
opacity: 0.8;
}
.photo-gallary img{
    max-width: 100%;
    height: 120px;
}
.add-photo{
    margin-top: 2px;
    margin-left: 70px;
    width: 130px;
height: 44px;
border-radius: 5px;
background-color: #0000;
border: 1px solid #979797;
font-size: 16px;
color: #111a23;
font-weight: 500;
font-family: "Barlow";
}
.sponsor h3{
    font-size: 21px;
color: #1a2734;
font-weight: 600;
font-family: "Barlow";
line-height: 60px;
}
.sponsor-text h4{
    font-size: 18px;
color: #1a2734;
font-weight: 600;
font-family: "Barlow";
line-height: 40px;
}
.sponsor-text p{
  font-size: 14px;
color: #1a2734;
font-weight: 400;
font-family: "Barlow";
}
.sponsor-two{
    margin-top: 20px;
}
.review{
    margin-top: 2px;
    margin-left: 70px;
    width: 130px;
height: 44px;
border-radius: 5px;
background-color: #0000;
border: 1px solid #979797;
font-size: 16px;
color: #111a23;
font-weight: 500;
font-family: "Barlow";
}
.contact-details {
    padding: 14px 9px 14px 6px;
}
.contact-details h3{
    font-size: 21px;
color: #1a2734;
font-weight: 600;
font-family: "Barlow"
}
.contact-details a{
   font-size: 15px;
color: #1a2734;
font-weight: 400;
font-family: "Barlow";
line-height: 42px;
}
.contact-details h5{
font-size: 15px;
color: #1a2734;
font-family: "Barlow";

}

.contact-details p{
    font-size: 14px;
color: #1a2734;
font-weight: 400;
font-family: "Barlow";
}
/**************************************contact us***********************/
/*.inner-banner img{
    width: 100%;
}*/
.contact-box {
    margin-top: 50px;
    margin-bottom: 50px;

}
.contact-box h3{

    font-size: 28px;
    color: #040303;
    font-weight: 700;
    font-family: "Barlow";
    text-align: center;
    line-height: 60px;
   
    margin-left: -34px;
}
.contacts{
width: 520px;
height: 40px;
border-radius: 2px;
background-color: #ffffff;
border: 1px solid #4950578f;
padding: 6px;
margin-top: 8px;
font-size: 17px;
    }
#business{

        width: 519px;
        height: 40px;
        border-radius: 2px;
        background-color: #ffffff;
        border: 1px solid #4950578f;
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        font-size: 15px;

font-weight: 500;
font-family: "Raleway";
}
/*.message{
     width: 930px;
        height: 40px;
        border-radius: 2px;
        background-color: #ffffff;
        border: 1px solid #000000b8;
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
}*/
textarea#subject {
    width: 97%;
     height: 200px;
        border-radius: 2px;
        background-color: #ffffff;
        border: 1px solid #4950578f;
        border-radius: 2px;
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
}
input.contacts::placeholder {
    font-size: 15px;
color: #232323;
font-weight: 500;
font-family: "Raleway";
}
.label {
  color: yellow;
  padding: 8px;
}
::placeholder {
   color: #232323;

}
.contact-box p{
font-size: 13px;
color: #232323;
font-weight: 500;
font-family: "Raleway";
}
.form-head{
    font-size: 16px;
color: #232323;
font-weight: 500;
font-family: "Raleway";
}





/****************************about-us**************************************
/****************************26.06.2020************************************/
.welcome-box {
    padding: 60px 0px 60px 0px;
}
.welcome-left {
    padding: 0px 40px 26px 40px;
}
.welcome-left h3 {
    font-size: 50px;
    line-height: 60px;
    color: #172f38;
    font-weight: 400;
    font-family: "Barlow";
}
.welcome-left h3 span {
    font-size: 50px;
    line-height: 60px;
    color: #0a8aff;
    font-weight: 500;
    font-family: "Barlow";
}
.welcome-left p{
font-size: 16px;
line-height: 30px;
color: #0e1d23;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
}
button.btn.read-more {
    margin-top: 29px;
}
.btn .read-more:focus {
    outline: 0;
    box-shadow: none;
}
section.about-wrapper {
    background: #f3f3f3
}
.about-box {
    padding: 40px 20px 40px 0px;
}
.about-left {
    margin-left: -124px;
}
.about-right {
    padding: 20px 46px 20px 46px;
}
.about-box {
    padding: 60px 20px 60px 4px;
}
/*.about-left img {
    width: 100%;
}*/
.about-right h3{
    font-size: 50px;
line-height: 60px;
color: #172f38;
font-weight: 400;
font-family: "Barlow";
}
.about-right h3 span{
    font-size: 50px;
    line-height: 60px;
    color: #0a8aff;
    font-weight: 500;
    font-family: "Barlow";
}
.about-right p{
    font-size: 16px;
line-height: 30px;
color: #0e1d23;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
}

























/* ///////////////////////24.6.2020/////////////////////////  */

/* CODE FOR LOGIN FORM */



/* End body rules */

/* Start form  attributes */
.login-form  form {
    max-width: 800px;
    min-height: 500px;
    height: auto;
    border-radius: 0px;
    margin: 0  auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background: #111d26;
    /*background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);*/
}
/* form Container */
.login-form  form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

.clearfix::after, .clearfix:before{
    content: "";
    display: block;
    width: 100%;
    clear: both; 
}

/* the header form form */
/*.login-form  header {
    margin: 2% auto 10% auto;
    text-align: center;
}*/
.login-form header {
    /*margin: 2% auto 10% auto;*/
    margin: 15px auto 40px auto;
    text-align: center;
    width: 100%;
}
/* Login title form form */
.login-form  header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #fff;
    float: left;
}
/*  A welcome message or an explanation of the login form */
.login-form  header p {letter-spacing: 0.05em;}

.head-form .other{
    float: right;
}


.field-set.cust-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* //////////////////////////////////////////// */


.login-form .input-item {
    background: #fff;
    color: #333;
    padding: 12px 10px 14px 9px;
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
    float: left;
}



/* Show/hide password Font Icon */
.login-form #eye {
    background: #fff;
    color: #333;
  
    /*margin: 5.9px 0 0 0;*/
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
  
    /*float: right;*/
    float: left;
    /*position: relative;*/
    /*right: 1%;*/
    /*top: -.2%;*/
    /*z-index: 5;*/

    cursor: pointer;
}

.login-form #eye2 {
    background: #fff;
    color: #333;
  
    /*margin: 5.9px 0 0 0;*/
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
  
    /*float: right;*/
    float: left;
    /*position: relative;*/
    /*right: 1%;*/
    /*top: -.2%;*/
    /*z-index: 5;*/

    cursor: pointer;
}
/* inputs form  */
.login-form input[class="form-input"]{
    max-width: 240px;
    height: 50px;
  
    /*margin-top: 2%;*/
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    float: left;
}
.login-form input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.login-form select {
    float: left;
    max-width: 230px;
    border-radius: 0px 5px 5px 0px;
    min-height: 50px;
}
.login-form, .lgn-frm{
    margin-top: 73px;
}

section.login-form.dash-page {
    min-height: 50vh;
}


.other a {
    display: inline-block;
    text-align: left;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */

.login-form .log-in {
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    width: 150px;
    /* border-radius: 2px; */
    height: 50px;
    padding: 0 20px;
    background: #2196F3;
    border-radius: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
     margin: 7% auto;
 }
.login-form .field-set {
    margin: 0 auto;
}
/* Submits */
.login-form .submits {
    /*width: 48%;*/
    display: inline-block;
    /*float: left;
    margin-left: 2%;*/
}

/*       Forgot Password button FAF3DD  */
.login-form .frgt-pass {
    /*background: transparent;*/
    background-color: #fff;
}

/*     Sign Up button  */
.login-form .sign-up {
    /*background: #B8F2E6;*/
}
.login-form .other .btn.sign-up{
    background: #B8F2E6;
    margin-left: 0;
}

.login-form button{
    transition: all 0.5s ease 0s;
}
/* buttons hover */
.login-form button:hover {
    transform: translateY(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.login-form button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
.form-control.bform {
    display: block;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #fff!important; 
    border-width: 0px 0px 2px 0px;
    border-radius: 2px;
    border-color: #fff;
     font-family: "Barlow";
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color:#adb5bd;
    /*background-color: #e6e6e600;*/
    background-color: transparent;
}
input.form-control.bform::placeholder {
    color: #adb5bd !important;
}

/*.form-group.new-forms.col-md-6 label {
    color: #ffff5e;
    font-size: 14px;
}*/
.heading.ad-busi{
    margin-bottom: 20px;
}

/*.form-group.new-forms label {
    color: #adb5bd;
    font-size: 14px;
    display: block;
    padding: 0 15px;
}*/

.login-form form hr {
    display: none;
}

.image-div button.btn {
    margin-left: 30px;
}

.login-form .form-group label {
    color: #adb5bd;
    font-size: 14px;
    display: block;
    padding: 15px;
}

h5.heading {
    text-align: left;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}

.field-set.login-frm .other {
    display: inline-block;
    margin-left: 10px;
}
.login-form .field-set.login-frm{
    width: 40%;
}

header.head-form.lgn-pg h2 {
    float: none;
}
.head-form.lgn-pg p {
    color: #fff;
}

.Signup-hdng{
    text-align: center;
    margin-bottom: 20px;
}
.Signup-hdng h2{
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-transform: capitalize;
}


/*.form-group.signUp-input .g-recaptcha {
    transform: translateX(-33px);
}*/

.form-group.signUp-input {
    position: relative;
}
.form-group.signUp-input span:nth-of-type(1), .form-group.signUp-input span:nth-of-type(2){
    /*position: absolute;
    top: 0;*/
    display: none;
}
.login-form input[class="form-input"] {
    max-width: 240px;
    height: 50px;
    /*margin-top: 2%;*/
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    float: left;
}
.signUp-input.form-group input[type="mail"], .signUp-input.form-group input[type="password"], .signUp-input.form-group input[type="text"] {
    width: 100%;
    max-width: 100%;
    height: 40px;
    padding: 15px;
    border-radius: 5px;
}
.log-in.signUp{
    margin: 0 0 15px 0;
    display: block;
    width: 100%;
}
.login-form .field-set {
    margin: 0 auto;
    width: 100%;
}
.field-set.cust-row.field2{
    width: 100%;
}
.signUp_p{
    width: 100%;
    font-size: 16px;
    color: #e7e7e7;
    margin-bottom: 50px;
}
.signUp_p a:hover{
    text-decoration: none;
}
.signUp_p a{
    color: #2196F3;
}
.signUP-left a{
    display: block;
    border-radius: 5px;
    background-color: #516d85;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}
.signUP-left a:hover{
    text-decoration: none;
    transition: all 0.5s ease 0s;
    background: #3e5365;
    color: #fff;
}
.signUP-left a:nth-child(2):hover{
    color: #fff;
    background: #864044;
}
.signUP-left a:nth-child(2){
    background-color: #a95056;
}
.signUP-left p{
    padding: 15px;
    background-color: #ddd;
    color: #666;
    font-size: 14px;
    line-height: 21px;
}
.by-join{
    padding: 0 15px;
}
.by-join img{
    max-width: 100%;
}
/*.form-group.signUp-input span:nth-of-type(1) {
    transform: translateX(-33px);
    left: 0;
}
.form-group.signUp-input span:nth-of-type(2){
    transform: translateX(33px);
    right: 0;
}*/

/*DASHBOARD*/
/*******************************29.06.20 ***************************/
/*.wrapper-body{
    background: #111D26;
    height: 500px;
    width: 309px;
    margin-top: 30px;
    margin-bottom: 30px;
}*/
.wrapper-body {
    background: #111D26;
    height: 500px;
    width: 309px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0;
    height: 100%;
    top: 43px;
    z-index: 1;
}

section.header-area {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #ddd;

}

li#account a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
li#about a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
li#support a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
li#log-out a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
li#business-manage a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.mainMenu-dash{
   width: 309px;
    display: block;
    background: #111D26;
    color: #fff;
   /* border-radius: 10px;*/
    overflow: hidden;
}
.item{
    border-bottom: 1px solid #fff;
    overflow: hidden;
    line-height: 50px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
}
.btn .dash-menu{
    display: block;
    padding: 15px 20px;
    background-color: #111D26;
    color: #fff !important;
    position: relative;
}
.btn .dash-menu:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid #FF6F61;
    right: 15px;
    bottom: -10px;
    z-index: 9;
}
.btn .dash-menu i {
    margin-right: 10px;
}
.subMenu{
    background: #111D26;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.subMenu a{
    display: block;
    /*padding: 20px 30px 20px 30px;*/
  padding: 15px 20px;
    color: #fff;
    font-size: 14px;
   border-bottom: 1px solid #fff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}
.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    /* background-color: #D8D824; */
    border-top: 24px solid transparent;
    border-left: 11px solid #fff;
    border-bottom: 24px solid transparent;
}
.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}
.subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;
    /* background-color: #D8D824; */
    border-top: 24px solid transparent;
    border-right: 11px solid #fff;
    border-bottom: 24px solid transparent;
}
.subMenu a:hover{
    background:  #111D26;
    transition: all 0.3s;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 10em;
}
.card {
    width: 220px;
    height: 120px;
    padding: 5px;
   /* background: #4285F4!important;*/
    color: #fff;
}
.dashboard-data {
    margin-top: 30px;
    margin-bottom: 30px;
}
.border-left-primary {
    border-left: .25rem solid #4E73DF!important;
}
.border-left-success {
    border-left: .25rem solid #1CC88A!important;
}
.border-left-info {
    border-left: .25rem solid #36B9CC!important;
}
.border-left-warning {
    border-left: .25rem solid #F6C23E!important;
}
.cl-black{
    color: #000;
}
.icon i {
    color: #111D26;
    font-size: 32px;
}

button.btn.submits_enq {

    background: #182638;
    color: #fff;
    font-size: 16px;
    width: 200px;
    height: 40px;
    font-family: "Barlow";
    margin-top: 20px;

}


.welcome-box .list-states li {
    width: 24%;
    display: inline-block;
    border-bottom: 1px solid #f4b162;
    padding: 12px 15px;
}
.welcome-box .list-states li a {
    color: #0a8aff;
}






















